body{
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
    
.half-width img{
    width: 60%;
    padding-top: 15%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.blue-color{
    color:rgb(139, 0, 127);
}
.half-width-song{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 50px gray;
    padding-left: 5%;
    padding-bottom: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10%;
    border-left: 10px solid;
}
#web-dev-song{
    border-left: 10px;
    border-image:linear-gradiant(blue yellow);
    border-image-slice: 1;
}
.half-width-image{
    padding-top: 10%;
}